language: python
branches:
  only:
    - master
python:
  - "2.7"
  - "3.6"
sudo: false
install:
  # Python 3.x is default
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Prepare env with Python version
  - conda create -n birdy python=$TRAVIS_PYTHON_VERSION
  # Update now the env with our environment
  - conda env update -f environment.yml
  - source activate birdy
  # Packages for testing
  - conda install pytest flake8
  - conda install -c birdhouse emu
  # Install birdy
  - python setup.py install
  - conda list
  - pip list
script:
  - pytest -m 'not online'
  - flake8
