[buildout]
develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = downloads
versions = versions

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
    conda
    birdy
    ipython
    nose
      
[settings]
# wps?

[versions]
zc.buildout= >=2.4.0
birdhousebuilder.recipe.conda= >=0.2.4

[conda]
recipe = birdhousebuilder.recipe.conda
pkgs = 
     python
     setuptools
     argcomplete
     owslib
     dateutil
     lxml
     ipython
     ipython-notebook
     nose
     
[birdy]
recipe = zc.recipe.egg
eggs =
     birdhouse-birdy

[ipython]
recipe = zc.recipe.egg
eggs =
    IPython
    ${birdy:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython

[nose]
recipe = zc.recipe.egg
eggs =
    nose
    ${birdy:eggs}
entry-points =
    nosetests=nose:run_exit
scripts =
    nosetests=nosetests






 


