graft birdy

include *.rst
include LICENSE.txt
include requirements.txt
include requirements_dev.txt
include requirements_extra.txt
include setup.cfg
include docs Makefile make.bat

recursive-include docs/source Makefile make.bat *.rst *.py *.ipynb *.svg *.ico *.txt *.yml *.cfg *.md
recursive-include tests *.py *.nc *.tif *.geojson *.xml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.ipynb_checkpoints
recursive-exclude docs/build *
recursive-exclude docs/source/apidoc *.rst
