-r requirements.txt
pip
bumpversion
wheel
watchdog
flake8
coverage
Sphinx
sphinx-autoapi
twine

pytest
git+git://github.com/bird-house/emu@master#egg=emu
git+git://github.com/bird-house/eggshell@master#egg=eggshell
git+git://github.com/bird-house/pywps@master#egg=pywps
#pytest-runner==4.2
