black>=24.2.0
build>=1.0.0
bumpversion>=0.5.3
coverage>=4.5.1
flake8>=7.0
ipykernel
nbconvert
nbsphinx >=0.7.0
nbval >=0.9.6
pip >=23.3.0
pre-commit>=3.6.2
pytest-runner>=4.2
pytest>=3.8.2
sphinx-codeautolink>=0.15.0
sphinx-copybutton>=0.5.2
sphinx>=7.0.0
twine>=4.0.0
watchdog>=3.0.0
