black >=24.2.0
build >=1.0
bump-my-version >=1.0.0
coverage >=7.5.0
flake8 >=7.0
ipykernel >=6.25.0
nbconvert >=7.3.0
nbsphinx >=0.9.5
nbval >=0.9.6
pip >=23.3
pre-commit >=3.6.2
pytest >=8.0.0
pytest-notebook >=0.6.0
sphinx-codeautolink
sphinx-copybutton
sphinx >=7.0.0,<8.2.0
twine >=4.0.0
watchdog >=4.0.0
